.logo {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
}
.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.bodyContainer {
  display: flex;
  background-color: #ffff00;
  flex-wrap: wrap;
}
.detailsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  width: 300px;
  justify-content: space-evenly;
  margin-left: 900px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.content {
  display: flex;
  margin-top: 200px;
  margin-left: 10px;

  flex-wrap: wrap;
}
.header {
  display: flex;
  font-size: 35px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 100;
}
.paragraph {
  display: flex;
  margin-top: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
}
.button {
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  width: 150px;
  height: 40px;
  background-color: black;
  color: #ffff00;
}
.image {
  display: flex;
  margin-top: 80px;
  margin-left: 100px;
}
.review {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
}
